Source: vagrant
Section: web
Priority: optional
Maintainer: Tiago Hillebrandt <tiago@tiagohillebrandt.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://www.vagrantup.com/

Package: vagrant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vagrant is a tool for building and managing virtual machine
 environments in a single workflow.
